* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Quicksand,sans-serif;
    scroll-behavior: smooth;
}

ul,ol {
    list-style: none;
    
}

a {
    text-decoration: none;
    color: #272727;
}

img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
    object-fit: cover;
}


.show_header {
    position: fixed;
    top: 0;
    z-index: 10;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.1);
}

.clearfix::after {
    clear: both;
}

.hide {
    display: none;
}

.container {
    width: 1300px;
    margin: auto;
}


.error {
    border-color: red !important;
    color: red !important;
}

.line {
    float: left;
    width: 100%;
    border-top: 1px solid #e3e5ec;
    margin: 0;
}

/* * ---- header ----------------------------- */ 


#header {
    width: 100%;
}

.navigation-header {
    width: 100%;
    background: #fff;
    position: relative;
    z-index: 99;
}

.header-scroll {
    padding: 15px 0 ;
    width: 100%;
    visibility: visible;
    border-bottom: 1px solid rgba(199, 189, 189, 0.2);
    background: #fdfdfd;
}

.flexContainer-header-scroll {
    display: flex;
    justify-content: space-between;
}

.scroll-logo {
    width: 18%;
}

.scroll-menu {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.scroll-menu  .container {
    width: 100%;
}

.scroll-menu .header-navbar-menu {
    padding: 0;
}

.scroll-menu .desk-menu {
    position: relative;
}

.scroll-menu .desk-menu ul {
    margin: 0;
}

.text-center {
    text-align: center;
    display: flex;
}

.scroll-menu .active {
    padding: 5px 0;
}

.scroll-menu .active  a{
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 18.2px;
    color: #272727;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 99; 
}

.scroll-menu .active > a > i {
    font-size: 12px;
    font-weight: 600;  
    transition: all 1s ease;
}

.scroll-menu .active:hover > a > i {
    transform: rotate(180deg);
    transition: all 1s ease;
}

.scroll-menu .sub-menu {
    position: absolute;
    display: none;
    background: #fff;
    top: -200%;
    box-shadow: 0 1px 20px rgb(0 0 0 / 9%);
    transition: top 5s ease-in-out;
}

.scroll-menu .active:hover > .sub-menu {
    display: block;  
    top: 170%;
}

.scroll-menu .sub-menu  li   {
    border-bottom: 1px solid #e3e3e3;
}

.scroll-menu .sub-menu  li  a{
    text-transform: none;
    padding: 12px 20px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
    color: #272727;
    font-weight: 500 ;
    letter-spacing: 2px;
    position: absolute;
    top: -100%;
}

.scroll-menu .active:hover > ul > li > a {
    position: relative;
}

.active_3 {
    padding: 30px 0;
}

.scroll-menu .active > a::after {
    content: "";
    display: block;
    width: 0%;
    border-bottom: 2px solid rgb(0, 0, 0);
    transition: all .6s;
    margin-top: 26px;
    position: absolute;
    left: 0;
}

.scroll-menu .active_2::after {
    content: "" ;
    width: 100% !important;
    border-bottom: 2px solid rgb(0, 0, 0);
    margin-top: 13px;
    position: absolute;
    left: 0;
}

.scroll-menu .active_3:hover::after {
    transition: all 1s !important;
    width: 185% !important;
}

.scroll-menu .active > a:hover::after {
    width: 100%;
}

.scroll-icon {
    width: 18%;
    display: flex;
    align-items: center;
}

.scroll-icon .scroll-search {
    position: absolute;
    right: 247px;
    opacity: 1;
    top: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    width: 400px;
    background: #ffffff;
    z-index: 999;
}

.search-scroll-box {
    padding: 20px 0;
}

.search-scroll-form {
    position: relative;
}

.scroll-icon form.search-scroll-form input.search-scroll-input {
    background: #fff;
    border: 1px solid #ebebeb;
    width: 100% ;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 55px 0 15px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

.scroll-icon form.search-scroll-form input.search-scroll-input:focus {
    border-color: #000000;
}

.scroll-icon form.search-scroll-form .btn-search-scroll {
    width: 55px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    background: #000000;
    border: 0;
    border-radius: 0;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
}

.scroll-icon .btn-search-scroll > i {
    color: #ffffff;
    font-size: 17px;
}

.scroll-icon form.search-scroll-form .btn-search-scroll:hover {
    background: #272727;
}

.scroll-search-wrapper {
    width: 350px;
   
    float: left;
   
    top: calc(100% + 10px);
    left: 50px;
    
}

.scroll-search-wrapper .item-ult {
    padding: 10px;
    border-bottom: 1px dotted #dfe0e1;
    clear: both;
    width: 100%;
    float: left;
}

.scroll-search-wrapper .item-ult .thumbs {
    width: 40px;
    display: inline-block;
    text-align: right;
}

.scroll-search-wrapper .item-ult .title {
    width: calc(100% - 40px);
    padding-right: 5px;
    float: left;
    line-height: 20px;
    position: relative;
    margin-top: 0px!important;
}

.scroll-search-wrapper .item-ult .title a {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    float: left;
    width: 100%;
    margin-bottom: 4px;
    color: #272727;
}

.scroll-search-wrapper .item-ult .title p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin: 0;
}

.resultContent {
    max-height: 182.4px;
    overflow-y: auto;
}

#styleScroll::-webkit-scrollbar {
    width: 3px;
    background-color: #ffffff;
}

#styleScroll::-webkit-scrollbar-thumb {
    background-color: #000000;
}

.resultsMore {
    width: 100%;
    float: left;
}

.resultsMore a {
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
    color: #272727;
}

.scroll-icon .scroll-account {
    position: absolute;
    right: 183px;
    opacity: 1;
    top: 100%;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    background: #ffffff;
    z-index: 999;
}

.scroll-icon .header_dropdown .box-triangle {
    position: absolute;
    right: 70px;
    bottom: 100%;
    margin: 0;
    width: 27px;
    height: 14px;
}

.scroll-icon .box-triangle svg {
    -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.2));
}

.scroll-icon .header-action_cart .scroll-cart {
    position: absolute;
    right: 114px ;
    opacity: 1;
    top:100% ;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    width: 450px ;
    background: #ffffff;
    z-index: 999;
}

.promo-bar {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4267b2;
}

.promo-bar > a > span {
    color: #ffffff;
   text-transform: uppercase;
   font-size: 12px;
   font-weight: 400;
    
}

.header-wrap-icon {
    display: flex;
}

.header-action_account {
    padding: 0 27px;
    width: 60%;
}

.header-action_cart {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-action_cart .header_dropdown {
    position: absolute;
    right: 100px;
    opacity: 1;
    top: calc(100% - 47px);
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    width: 350px;
    background: #ffffff;
    z-index: 999;
}

.header-action-toggle {
    display: flex;
    cursor: pointer;
    align-items: center !important;
}

.box-action-icon {
    font-size: 23px;
    margin-right: 17px;
    position: relative;
}


.header_dropdown {
    position: absolute;
    right: 300px;
    opacity: 1;
    top: calc(100% - 47px);
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 2px rgb(0 0 0 / 20%);
    background: #ffffff;
    z-index: 999;
}

.header_dropdown .box-triangle {
    position: absolute;
    right: 70px;
    bottom: 100%;
    margin: 0;
    width: 27px;
    height: 14px;
}

.box-triangle svg {
    -webkit-filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.12));
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.2));
}

svg:not(:root) {
    overflow: hidden;
}

.site-nav {
    position: relative;
    font-size: 14px;
    overflow: hidden;
    padding: 25px 15px;
}

.site_panel {
    width: 350px;
}

.account-information {
    width: 250px;
    
}

.account-information .account_title {
    border-bottom: 2px solid #e3e3e3;
    padding-bottom: 10px;
}

.account-information p {
    padding: 7px;
    color: #272727;
}

#logout-form button {
    border: 0;
    background: #ffff;
    color: #272727;
    /* padding: 7px; */
    font-size: 16px;
    /* cursor: pointer; */

}

.cart_panel i, .search_panel i,.login_panel i,.login_panels i,.recover_panels i {
    font-size: 25px;
    position: absolute;
    right: 15px;
    top: 10px;
    opacity: 0.3;
}

.cart_panel i:hover, .search_panel i:hover,.login_panel i:hover,.login_panels i:hover,.recover_panels i:hover  {
    cursor: pointer;
    opacity: 1;
}

.account-header {
    text-align: center;
}

.account_title {
    margin-bottom: 7px;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    font-family: inherit;
    color: #252525;
    letter-spacing: 1px;
}

.account_legend {
    margin: 0 0 15px 0;
    line-height: 21px;
    font-weight: 500 !important;
    color: #6c6c6c;
    font-family: inherit;
    letter-spacing: 1px;
}

.account-list .form__input-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.form__input-wrapper .form__field {
    display: block;
    padding: 2px 10px;
    border-radius: 2px;
    border: 2px solid #d4d6d8;
    width: 100%;
    line-height: normal;
    height: 42px;
    color: #1e2d7d;
    resize: none;
    font-size: 14px;
    outline: none;
    box-shadow: 0 1px rgb(212 214 216 / 25%) inset;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
}

.form__input-wrapper .form__floating-label {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 42px;
    font-size: 12px;
    color: #677279;
    pointer-events: none;
    font-weight: bolder;
}

.form__field--text:focus {
    border-color: #252a2b;
}

.form__field--text:not(:placeholder-shown) + .form__floating-label,
.form__field--text:focus + .form__floating-label {
  top: -6px;
  left: 20px;
  transition:  .25s ease;
  background-color: white;
  padding: 0 7px;
  line-height: normal;
  color: #252a2b;
}

.sitebox-recaptcha {
    padding: 0;
    color: #6e6e6e;
    text-align: left;
    font-size: 14px;
    margin: 12px 0;
    line-height: 20px;
}

.sitebox-recaptcha a {
    color: #2962ff;
}

.site_account_secondary-action > p .link {
    color: #285cec;
    transition: color 0.2s ease-in-out;
    background: transparent;
    border: none;
    border-radius: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 14px;
}

.form__submit {
    width: 100%;
    outline: none;
    padding: 0px 28px;
    height: 42px;
    line-height: 42px;
    position: relative;
    display: inline-block;
    padding: 10px 28px;
    line-height: normal;
    color: #fff;
    border: 1px solid #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    letter-spacing: 1px;
    background: #000000 ;
    z-index: 1;
    overflow: hidden;
    transition: all 1s ease;
}

.form__submit::before {
    content: "";
    background: #000000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in;
    z-index: -1;
}

.form__submit:hover::before {
    width: 0%;
}

.form__submit:hover {
    color: #252a2b;
    background-color: transparent;
    cursor: pointer;
}

.site_account_secondary-action {
    margin: 15px 0 10px 0;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    font-weight: 500 !important;
    font-style: normal;
    font-family: inherit;
    color: #656565;
    letter-spacing: 1px;
}

.site_account_secondary-action p a {
    color:  #2962ff;
}


.cart-header > p, .search-header > p {
    font-size: 14px;
    color: #272727;
    padding: 0 0 10px;
    text-transform: uppercase;
    font-weight: 500 !important;
    letter-spacing: 1px;
    border-bottom: 1px solid #c1c3c9;
}

.cart-view {
    width: 100%;
    min-height: 210px;
}

.view_product {
    min-height: 150px;
    border-bottom: 1px solid #c1c3c9;
}

.view_product > i {
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-top: 43px;
    color: #272727;
}

.view_product > p {
    width: 100%;
    font-size: 16px;
    font-weight: 500 !important;
    color: #272727;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 10px;
}

.scroll-product {
    max-height: 360px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
    overflow-y: auto;
}

.scroll-product::-webkit-scrollbar {
    width: 2px;
    background-color: #ffffff;
}

.scroll-product::-webkit-scrollbar-thumb {
    background-color: #000000;
}

tr.list-item td{
    height: 122px;
    position: relative;
    border-bottom: 1px solid #e5e5e5;
}

tr.list-item:last-child td{
    height: 122px;
    position: relative;
    border-bottom: none;
}

tr.list-item td.item {
    padding: 10px 0;
    position: relative;
    padding-left: 20px;
    width: calc(100% - 90px);
}

table tr td:first-child, table tr th:first-child {
    padding-left: 0px;
}

.img {
    width: 100px;
}

.list-item .img a img {
    border: 1px solid #ededed;
    margin-right: 10px;
    max-width: 100%;
}

.information a.pro-title {
    float: left;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #272727;
    word-wrap: break-word;
    width: 80%;
}

 .variant {
    font-size: 12px;
    float: left;
    width: 100%;
    margin: 5px 0 12px;
    opacity: 0.66;
    text-transform: uppercase;
}

.pro-quantity {
    float: left;
    width: auto;
    background: #ededed;
    text-align: center;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1;
    margin-right: 12px;
}

 .pro-price-view {
    color: #333;
    display: block;
    text-align: center;
    float: left;
    line-height: 26px;
    font-weight: bolder;
}

.remove-pro {
    position: absolute;
    right: 20px;
    width: 20px;
    height: 20px;
}

.remove-pro i {
    font-size: 20px;
    color: #000000;
}

.remove-pro i:hover {
    cursor: pointer;
    color: red;
}


.payment {
    padding-top: 7px;
}

table {
    width: 100%;
    border-spacing: 0;
}

.text-left {
    text-align: left;
    color: #272727;
    font-size: 14px;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: right;
}

.text-right span {
    font-size: 16px;
    font-weight: bold !important;
    letter-spacing: 0.5px;
    color: #e00707;
}
    
.unit {
    font-size: 20px !important;
}

table tr td{
    padding: 5px;
    text-align: left;
}

td, th {
    padding: 0;
}

.count-holder {
    position: absolute;
    background: #000000;
    border-radius: 999%;
    width: 20px;
    line-height: 20px;
    height: 20px;
    color: #fff;
    right: -11px;
    top: -10px;
}

.count {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navbar-menu {
    padding: 0 15px;
}

.desk-menu {
    position: relative;
}

.desk-menu ul {
    padding-left: 0;
    margin: 0;
}

.text-center {
    text-align: center;
    display: flex;
}


.active > a{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 18.2px;
    margin: 0px 40px 0px 0px;
    color: #272727;
    text-align: left;
    cursor: pointer;
    position: relative;
    z-index: 99; 
}

.active > a > i {
    font-size: 12px;
    font-weight: 600;  
    transition: all 1s ease;
    
}

/* * ---- main----------------------------- */ 

.layout-info-account {
    padding-bottom: 50px;
}

.title-infor-account {
    padding: 20px 15px;
    margin: 30px 0;
}


.title-infor-account h1 {
    font-size: 37px;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

.title-infor-account h1:after {
    content: "";
    display: block;
    width: 60px;
    height: 4px;
    margin: 25px auto 0;
    background: #252a2b;
}

.wrap-site {
    padding: 40px;
    text-align: center;
}

.site-animation h2 {
    font-size: 28px;
    line-height: 1.6;
    margin: 0 0 15px;
    font-weight: 500;
    position: relative;
    padding: 0 0 10px;
    display: inline-block;
    font-family: inherit;

}

.site-animation h2::after {
    content: "";
    width: 55px;
    height: 0.8px;
    background: #000000;
    display: block;
    margin: 20px auto 0;
    transition: all 0.3s linear;
}

.AccountTitle {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
}

h1, h3, h4, h5, h6 {
    font-family: inherit;
    color: #272727;
    margin: 0 0 13px 0;
    font-weight: 500;
    line-height: 1.2;
}

h3,h4 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.AccountList ul > li > a > form {
    display: block;
    position: relative;
    /* padding: 10px 0px; */
}

.AccountList .last {
    font-size: 35px;
}

a {
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

form {
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
}

.row1 {
    display: flex;
    flex-wrap: wrap;
}

.col-xs-12 {
    flex-basis: 100%;
}

@media (min-width: 576px) {
    .col-sm-3 {
        flex-basis: 25%;
    }

    .col-sm-9 {
        flex-basis: 75%;
    }
}

.address {
    margin-bottom: 60px;
}

.customer_order {
    margin-top: 60px;
}

.footer-contentt .item{
    margin-bottom: 8px;
}

.footer-contentt .item a{
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;

}

.footer-contentt ul > li > a:before {
    content: "\f192";
    font-family: "FontAwesome";
    font-size: 8px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: 2px;
}

.footer-contentt #logout-from {
    content: "\f192";
    font-family: "FontAwesome";
    font-size: 8px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: 2px;
}

.name-order {
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.order_date {
    font-weight: normal;
    font-size: 14px;
    text-transform: none;
}

li {
    text-align: -webkit-match-parent;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-gallery {
    min-height: 250px;
}

.list-gallery ul {
    margin: 0;
    float: left;
}

.list-gallery ul li {
    float: left;
    width: calc(100%/6);
    padding: 2px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    display: block;
}



.gallery-item:before {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 2;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}

.gallery-item:hover::before {
    transition: left 1s ease;
    left: 100%;
}

/* * ---- footer ----------------------------- */ 

.main-footer {
    margin: 30px 0 0;
}

.col-lg {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer-col {
    width: calc(100%/4);
}

.main-footer .footer-col {
    margin-bottom: 24px;
}

.main-footer h4 {
    font-size: 15px;
    letter-spacing: 0.02em;
    margin: 0 0 20px;
    position: relative;
    line-height: 22px;
    text-transform: uppercase;
    color: #272727;
    font-family: inherit;
    font-weight: 500;
}

.footer-content p {
    margin: 0 0 10px 0;
    line-height: 21px;
    font-size: 14px;
    color: #4e4e4e;
    letter-spacing: 1px;
    font-weight: 400;
    font-family: inherit;
}

.logo-footer {
    margin-bottom: 20px;
}

.logo-footer img {
    width: 150px;
}

.social-list {
    margin: 15px 0;
}

.social-list a {
    display: inline-block;
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    border-radius: 9999%;
    background: #000000;
    color: #fff;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    margin: 0 15px 0 0;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    position: relative;
    text-decoration: none !important;
}


.social-list a:hover {
    background: #ffffff;
    color: #000000;
}

.social-list a:after {
    width: 35px;
    height: 35px;
    -webkit-border-radius: 50%;
    border-radius: 99999%;
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    border: 5px solid #000000;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.social-list a:hover::after {
    display: block;
    border-color: #b0b0b0;
    opacity: 1;
    filter: alpha(opacity=1);
    transition: all 0.5s ease-in-out;
}


.item a {
    margin: 0 0 10px 0;
    line-height: 22px;
    font-size: 14px;
    color: #4e4e4e;
    letter-spacing: 1px;
    font-weight: 500 ;
    font-family: inherit;
}

.footer-content ul li span, .footer-content ul li {
    margin: 0 0 10px 0;
    line-height: 24px;
    font-size: 14px;
    color: #4e4e4e;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: inherit;
}

.footer-block {
    padding-left: 20px;
}


.main-copyright {
    text-align: center;
}

.main-copyright .main-footer--border {
    border-bottom: none;
}

.main-footer--border {
    padding: 24px 0;
    border-top: 1px solid #e0d9d6;
    border-bottom: 1px solid #e0d9d6;
}

.main-footer--border p, .main-footer--border p a {
    line-height: 24px;
    font-size: 14px;
    color: #4e4e4e;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: inherit;
}

 
