-- TODO chạy trên sqlserver

USE [master]
GO
/****** Object:  Database [runnerinn]    Script Date: 24/04/2023 14:23:17 ******/
CREATE DATABASE [runnerinn]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [runnerinn].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [runnerinn]
GO
/****** Object:  User [user]    Script Date: 24/04/2023 14:23:17 ******/
CREATE USER [user] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[chitietdonhang]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chitietdonhang](
	[madonhang] [int] NULL,
	[masp] [int] NULL,
	[soluongsp] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhgiasp]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhgiasp](
	[madanhgia] [int] NOT NULL,
	[masp] [int] NULL,
	[tieude] [nvarchar](256) NULL,
	[noidung] [nvarchar](256) NULL,
	[ngaydanhgia] [date] NULL,
	[sosao] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[madanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danhmuc]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danhmuc](
	[madanhmuc] [int] NOT NULL,
	[tendanhmuc] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[madanhmuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[donhang]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[donhang](
	[madonhang] [int] NOT NULL,
	[ngaydathang] [date] NULL,
	[makhachhang] [int] NULL,
	[trangthaidonhang] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[madonhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[hinhanhsp]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinhanhsp](
	[urlmain] [varchar](256) NULL,
	[url] [varchar](256) NULL,
	[masp] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khachhang]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khachhang](
	[makhachhang] [int] NOT NULL,
	[tenkhachhang] [nvarchar](256) NULL,
	[email] [varchar](256) NULL,
	[sdt] [int] NULL,
	[diachi] [nvarchar](256) NULL,
	[tentk] [varchar](50) NULL,
	[matkhau] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[makhachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kichthuocsp]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kichthuocsp](
	[kichthuoc] [int] NULL,
	[masp] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loaigiay]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loaigiay](
	[maloai] [int] NOT NULL,
	[tenloai] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[maloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[mausacsp]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[mausacsp](
	[mausac] [nvarchar](256) NULL,
	[masp] [int] NULL,
	[mamau] [varchar](256) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sanpham]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sanpham](
	[masp] [int] NOT NULL,
	[tensp] [nvarchar](256) NULL,
	[giatien] [int] NULL,
	[mathuonghieu] [int] NULL,
	[maloai] [int] NULL,
	[madanhmuc] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[masp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thuonghieu]    Script Date: 24/04/2023 14:23:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thuonghieu](
	[mathuonghieu] [int] NOT NULL,
	[tenthuonghieu] [nvarchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[mathuonghieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[danhmuc] ([madanhmuc], [tendanhmuc]) VALUES (123, N'Nike')
INSERT [dbo].[danhmuc] ([madanhmuc], [tendanhmuc]) VALUES (234, N'Adidas')
INSERT [dbo].[danhmuc] ([madanhmuc], [tendanhmuc]) VALUES (345, N'Sản phẩm tặng')
GO
INSERT [dbo].[hinhanhsp] ([urlmain], [url], [masp]) VALUES (N'../asset/img/AYB/AYB.webp', N'../asset/img/AYB/802501_02_9e71f6edc5bb462481bc19e127381e87_master.webp', 734052)
INSERT [dbo].[hinhanhsp] ([urlmain], [url], [masp]) VALUES (N'../asset/img/AYB/AYB.webp', N'../asset/img/AYB/802501_03_8204ef4564bb4222a5f626933e74a3fa_master.webp', 734052)
INSERT [dbo].[hinhanhsp] ([urlmain], [url], [masp]) VALUES (N'../asset/img/AYB/AYB.webp', N'../asset/img/AYB/802501_04_1c694bb928e440d79567915c74d0c788_master.webp', 734052)
GO
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [email], [sdt], [diachi], [tentk], [matkhau]) VALUES (123456, N'Lê Văn Diễn', N'dien@gmail.com', 123456789, N'Thành phố Hồ Chí Minh', N'dien123', N'1234567890')
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [email], [sdt], [diachi], [tentk], [matkhau]) VALUES (234567, N'Nguyễn Tăng Chương', N'chuong@gmail.com', 123456789, N'Thành phố Hồ Chí Minh', N'chuong123', N'1234567890')
INSERT [dbo].[khachhang] ([makhachhang], [tenkhachhang], [email], [sdt], [diachi], [tentk], [matkhau]) VALUES (345678, N'Nguyễn Hoàng Thiên Phú', N'phu@gmail.com', 123456789, N'Thành phố Hồ Chí Minh', N'phu123', N'1234567890')
GO
INSERT [dbo].[kichthuocsp] ([kichthuoc], [masp]) VALUES (35, 103294)
INSERT [dbo].[kichthuocsp] ([kichthuoc], [masp]) VALUES (37, 103294)
INSERT [dbo].[kichthuocsp] ([kichthuoc], [masp]) VALUES (38, 103294)
GO
INSERT [dbo].[loaigiay] ([maloai], [tenloai]) VALUES (123, N'Nike')
INSERT [dbo].[loaigiay] ([maloai], [tenloai]) VALUES (456, N'Adidas')
INSERT [dbo].[loaigiay] ([maloai], [tenloai]) VALUES (789, N'Sản phẩm tặng')
GO
INSERT [dbo].[mausacsp] ([mausac], [masp], [mamau]) VALUES (N'Đỏ', 103294, N'#E2262A')
INSERT [dbo].[mausacsp] ([mausac], [masp], [mamau]) VALUES (N'Trắng', 123213, N'#FFFFFF')
INSERT [dbo].[mausacsp] ([mausac], [masp], [mamau]) VALUES (N'Trắng', 123217, N'#FFFFFF')
GO
INSERT [dbo].[sanpham] ([masp], [tensp], [giatien], [mathuonghieu], [maloai], [madanhmuc]) VALUES (103294, N'Nike Air Max 1 Anniversary', 4200000, 123, 123, 456)
INSERT [dbo].[sanpham] ([masp], [tensp], [giatien], [mathuonghieu], [maloai], [madanhmuc]) VALUES (123213, N'Sản phẩm tặng 3', 0, 456, 789, 345)
INSERT [dbo].[sanpham] ([masp], [tensp], [giatien], [mathuonghieu], [maloai], [madanhmuc]) VALUES (123217, N'Nike Wmns Air Huarache City Move', 5200000, 123, 123, 567)
GO
INSERT [dbo].[thuonghieu] ([mathuonghieu], [tenthuonghieu]) VALUES (123, N'Nike')
INSERT [dbo].[thuonghieu] ([mathuonghieu], [tenthuonghieu]) VALUES (456, N'Adidas')
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([madonhang])
REFERENCES [dbo].[donhang] ([madonhang])
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([madonhang])
REFERENCES [dbo].[donhang] ([madonhang])
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[chitietdonhang]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[danhgiasp]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[danhgiasp]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD FOREIGN KEY([makhachhang])
REFERENCES [dbo].[khachhang] ([makhachhang])
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD FOREIGN KEY([makhachhang])
REFERENCES [dbo].[khachhang] ([makhachhang])
GO
ALTER TABLE [dbo].[hinhanhsp]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[kichthuocsp]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[mausacsp]  WITH CHECK ADD FOREIGN KEY([masp])
REFERENCES [dbo].[sanpham] ([masp])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([madanhmuc])
REFERENCES [dbo].[danhmuc] ([madanhmuc])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([madanhmuc])
REFERENCES [dbo].[danhmuc] ([madanhmuc])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([maloai])
REFERENCES [dbo].[loaigiay] ([maloai])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([maloai])
REFERENCES [dbo].[loaigiay] ([maloai])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([mathuonghieu])
REFERENCES [dbo].[thuonghieu] ([mathuonghieu])
GO
ALTER TABLE [dbo].[sanpham]  WITH CHECK ADD FOREIGN KEY([mathuonghieu])
REFERENCES [dbo].[thuonghieu] ([mathuonghieu])
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD CHECK  (([trangthaidonhang]=N'đang xử lý' OR [trangthaidonhang]=N'đã giao' OR [trangthaidonhang]=N'đã huỷ'))
GO
ALTER TABLE [dbo].[donhang]  WITH CHECK ADD CHECK  (([trangthaidonhang]=N'đang xử lý' OR [trangthaidonhang]=N'đã giao' OR [trangthaidonhang]=N'đã huỷ'))
GO
USE [master]
GO
